services:
  transats-app:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: ai-transats-app-${USER_ID:-0}-${HTTPS_PORT:-6000}
    ports:
      - "${HTTPS_PORT:-6000}:5000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    volumes:
      - transacts_data:/app/data

  nginx:
    image: nginx:alpine
    ports:
      - "${HTTPS_PORT:-6501}:443"
    container_name: ai-checkinatwork-nginx-${USER_ID:-1}-${HTTPS_PORT:-6000}
    volumes:
      - ./conf/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./ssl/fullchain.pem:/etc/ssl/certs/fullchain.pem:ro
      - ./ssl/privkey.pem:/etc/ssl/private/privkey.pem:ro
    depends_on:
      - checkin-app
    restart: unless-stopped

volumes:
  transacts_data: